<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <h1> Bem vindo a lista de tarefas:</h1>
    <ul>
      <% @tasks.each do |task| %>
      <li> <%= link_to "#{task.title}", "tasks/#{task.id}" %></li>
      <% end %>
    </ul>

    <div class="link">
        <%= link_to "Registrar Novas Tarefas", tasks_new_path %>
      </div>
  </div>
</body>
</html>
